# Rutas principales
DATA_DIR=/ruta/a/tus/datos
PROJECT=/ruta/al/proyecto/output

# Modelo base
MODEL_WEIGHTS=yolov8s-cls.pt

# Hiperparámetros - grilla (separados por coma)
EPOCHS_LIST=50,100
LR_LIST=0.01,0.001
DROPOUT_LIST=0.3,0.5

# Parámetros de entrenamiento
IMGSZ=224
BATCH=32
DEVICE=0
EXIST_OK=False
